NODE_ENV=development
DATABASE_URL=postgresql://user:password@localhost:5432/f5_db
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password

NEXT_PUBLIC_COMPLEX_NAME="Complejo Deportivo"
NEXT_PUBLIC_COMPLEX_PHONE="0800-123-4567"
NEXT_PUBLIC_SUPPORT_EMAIL="soporte@complejo.com"
